.ui-listview li p{
	white-space: normal !important;	
}
.ui-btn-right-2{
	top: .3125em;
	right: 2.5em !important;
}
.content-header{
	position: relative;
	height: 40px;
	top: -20px;
	z-index: 1;
}
.content-footer{
	position: relative;
	height: 40px;
	top: 15px;
	z-index: 1;
}
.ui-li-header{
	margin-top: 30px !important;
	background-color: lightgray !important;
}
.ui-li-name{
	float: left;
	padding-right: 10px;
}
.ui-li-text{
	float: left;
}
.ui-li-text-right{
	text-align: right;
}
.ui-li-date{
	float: left;
	clear: both;
}
.ui-li-action{
	float: right;
}
.ui-li-topicpath{
	padding-top: 10px;
}
.ui-li-piece{
	position: relative;
}
.ui-li-piece-o{
	background-color:#FFFFFF;
	filter:alpha(opacity=35);
	-moz-opacity:0.35;
	-khtml-opacity: 0.35;
	opacity:0.35;
}
.ui-li-piece-o a{
	color: gray !important;
}
.ui-li-piece-check{
	font-size: 23px;
	position: absolute;
	z-index: 1;
	top:12px;
	left: 8px;
}
.ul-li-piece-title{
	padding-left: 20px;
}
.ul-li-count-left{
	right: auto !important;
	left: 7px;
}
.piece-list{
	margin-bottom: 10px !important;
}
.product-list{
	margin-bottom: 20px !important;
}
.piece-topic-path{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
	background-color: lightgray;
	margin: 0 !important;
}
.btn-min-space{
	padding-bottom: 20px;
	margin-top: 0px !important;
}